{%- capture _slides -%}
  [
    {%- for block in section.blocks -%}
      {
        background_image: "",
        background_image_alt: "",
        background_width: "",
        background_height: "",
        body_text: "{{ block.settings.body_text | replace_first: '<p>', '' | replace_first: '</p>', '' | escape }}",
        body_text_color: "{{ block.settings.body_text_color }}",
        content_below_on_mobile: {{ block.settings.content_below_on_mobile | default: false }},
        content_top_mobile: {{ block.settings.content_top_mobile | json }},
        content_width: "{{ block.settings.content_width }}",
        cta_label: "{{ block.settings.cta_label | strip_html | escape }}",
        cta_link: "{{ block.settings.cta_link }}",
        mobile_background_image: "",
        mobile_background_alt: "",
        mobile_background_width: "",
        mobile_background_height: "",
        overlay_color: "{{ block.settings.overlay_color }}",
        overlay_opacity: {{ block.settings.overlay_opacity | default: 0 }},
        pre_heading: "{{ block.settings.pre_heading | strip_html | escape }}",
        pre_heading_color: "{{ block.settings.pre_heading_color }}",
        text_align: "{{ block.settings.text_align }}",
        text_position_horizontal: "{{ block.settings.text_position_horizontal }}",
        text_position_vertical: "{{ block.settings.text_position_vertical }}",
        title: {{ block.settings.title | replace_first: '<p>', '' | replace_first: '</p>', '' | escape | json  }},
        title_color: "{{ block.settings.title_color }}",
      },
    {%- endfor -%}
  ]
{%- endcapture -%}

<hero
  :slides='{{ _slides }}'
  :text-only='true'
  background-color='{{- section.settings.background_color -}}'
>
</hero>

{% schema %}
  {
    "name": "In the Press",
    "class": "homepage-hero-section",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Section Background Color",
        "default": "#eff2f4"
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "type": "hero_slide",
        "name": "Text Slide",
        "settings": [
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "pre_heading",
            "label": "Quote Heading"
          },
          {
            "type": "color",
            "id": "pre_heading_color",
            "label": "Heading Color",
            "default": "#000000"
          },
          {
            "type": "richtext",
            "id": "title",
            "label": "Quote"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#000000"
          },
          {
            "type": "text",
            "id": "body_text",
            "label": "Quote By"
          },
          {
            "type": "color",
            "id": "body_text_color",
            "label": "Quote By Color",
            "default": "#494949"
          },
          {
            "type": "header",
            "content": "CTA"
          },
          {
            "type": "text",
            "id": "cta_label",
            "label": "Label"
          },
          {
            "type": "url",
            "id": "cta_link",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Positioning and Alignment"
          },
          {
            "type": "select",
            "id": "text_position_vertical",
            "label": "Text Vertical Position on Desktop",
            "options": [
              {
                "value": "flex-start",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "flex-end",
                "label": "Bottom"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "text_position_horizontal",
            "label": "Text Horizonatal Position on Desktop",
            "options": [
              {
                "value": "flex-start",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "flex-end",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "text_align",
            "label": "Text Alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "text",
            "id": "content_width",
            "label": "Content Width",
            "info": "The width for the hero's content on desktop sized devices. You can use any unit valid in CSS (px, %, vw). Mobile will always display the content as full width. If no value is provided then the width will be 40%"
          },
          {
            "type": "text",
            "id": "content_top_mobile",
            "label": "Content Vertical Positioning for Mobile",
            "info": "The distance from the top for the hero's content on mobile sized devices. You can use any unit valid in CSS (px, %, vw) but precentages work best."
          },
          {
            "type": "checkbox",
            "id": "content_below_on_mobile",
            "label": "Content Below Image on Mobile"
          },
          {
            "type": "header",
            "content": "Overlay Settings"
          },
          {
            "type": "color",
            "id": "overlay_color",
            "label": "Overlay Color"
          },
          {
            "type": "range",
            "id": "overlay_opacity",
            "label": "Overlay Opacity",
            "min": 0,
            "max": 1,
            "step": 0.1,
            "default": 0
          }
        ]
      }
    ],
    "templates": [
      "404",
      "article",
      "blog",
      "collection",
      "customers/account",
      "customers/activate_account",
      "customers/addresses",
      "customers/login",
      "customers/order",
      "customers/register",
      "customers/reset_password",
      "index",
      "page",
      "password",
      "search"
    ],
    "presets": [
      {
        "name": "In the Press",
        "category": "Hero"
      }
    ]
  }
{% endschema %}
