
<div id="findify_results" style="min-height: 400px;">
  <div id="findify-component-spinner" class="findify-component-spinner"></div>
  <div class="findify-container findify-search findify-widget-1"></div>
  <div class="findify-fallback" style="display: none;">
    <search-results tile-color="{{ settings.product_image_background_color }}" search="{{ search.terms }}">
      {%- if search.results_count > 0 -%}
        {%- for item in search.results -%}
          {%- if item.object_type == 'product' -%}
            {%- assign product = item -%}
            <div class="column collection-grid__column">
              <div class="product-tile u-no-link">
                <a href="{{ product.url }}" class="product-tile__media">
                  <div class="product-tile__media-wrapper">
                    {%- assign mainColor = product.selected_or_first_available_variant.option2 -%}
                    {%- for image in product.images -%}
                      {%- assign imgAlt = image.alt | split: '::' -%}
                      {%- if mainColor == imgAlt[1] and imgAlt[2] == 'Main' -%}
                        <img
                          alt="{{ imgAlt[0] }}"
                          class="product-tile__image product-tile__image--default"
                          data-src="{{ image.url | img_url: '450x' }}"
                          width="368"
                          height="480"
                          loading="lazy"
                        >
                      {%- endif -%}
                    {%- endfor -%}
                  </div>
                </a>

                {%- liquid
                  assign swatches = '' | split: ',' 
                  for variant in product.variants
                    assign option2 = variant.option2
                    unless swatches contains option2
                      assign swatches = swatches | concat: option2
                    endunless
                  endfor
                -%}
                <div class="product-tile__swatches">
                  {%- for swatch in swatches -%}
                    <button class="button button--round product-tile__swatch"
                      style="background-image: url('https://cdn.shopify.com/s/files/1/0073/9812/files/{{ swatch | downcase }}_30x.png');">
                      <div class="button__content"><span class="u-sr-only">{{ swatch }}</span></div>
                    </button>
                  {%- endfor -%}
                </div>
                <a href="{{ product.url }}" class="product-tile__details text-align--center">
                  <h3 class="product-tile__title heading--7">{{ product.title }}</h3>
                </a>
                <a href="{{ product.url }}" class="product-tile__pricing text-align--center">
                  <p class="product-tile__price">
                    <span class="product-tile__price__original">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
                    <span class="product-tile__price__sale">{{ product.selected_or_first_available_variant.price | money }}</span>
                  </p>
                </a>
              </div>
            </div>
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    </search-results>
  </div>
</div>

{% schema %}
  {
    "name": "Findify Search Results",
    "class": "findify-search-results",
    "tag": "section",
    "templates": [
      "404",
      "article",
      "blog",
      "customers/account",
      "customers/activate_account",
      "customers/addresses",
      "customers/login",
      "customers/order",
      "customers/register",
      "customers/reset_password",
      "page",
      "password",
      "search"
    ],
    "presets": [{
      "name": "Findify Search Results"
    }]
  }
{% endschema %}