{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}
<div class="page-layout">
  <div class="container container--wide">
    <p><br></p>
    <h2 class="heading-2 text-align--center">{{ 'general.password_page.opening_soon' | t }}</h2>
    <p><br></p>
    {% unless shop.password_message == blank %}
      <p class="text-align--center">
        {{ shop.password_message }}
      </p>
      <p><br></p>
    {% endunless %}

    {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <ul class="form-success">
          <li>{{ 'general.password_page.signup_form_success' | t }}</li>
        </ul>
      {% else %}
        <h5>{{ 'general.password_page.signup_form_heading' | t }}</h5>
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <div data-v-aafb65b8="" data-v-cdada158="" class="text-input klaviyo-form__input text-input--hidden-label"
          autocorrect="off" autocapitalize="off" autocomplete="email" aria-label="Email">
          <label data-v-aafb65b8="" for="Email" class="text-input__label u-sr-only">Email Address
            <div data-v-aafb65b8="" class="text-input__label-note">(required)</div>
          </label>
          <input data-v-aafb65b8="" id="Email" name="contact[email]"
            required="required"
            placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}"
            type="email"
            class="text-input__input"
            style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto; border: 1px solid #494949;">
            <button
            data-v-aafb65b8="" class="button text-input__icon button--icon-background button--primary" role="button"
            title="{{ 'general.password_page.signup_form_submit' | t }}" type="submit" width="30px" height="12px" style="line-height: 12px;">
            <div class="button__content">
              <svg data-v-aafb65b8="" class="icon icon--long-arrow-right button__icon" style="height: 12px; width: 30px;">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#long-arrow-right"></use>
              </svg>
            </div>
          </button>
        </div>
      {% endif %}
    {% endform %}

    {% if settings.share_facebook or settings.share_twitter %}
      <p class="text-align--center">{{ 'general.password_page.spread_the_word' | t }}</p>
      {% render 'social-sharing' %}
    {% endif %}

    <p class="text-align--center"><a href="#Login" class="text-align--center">{{ 'general.password_page.password_link' | t }} &rarr;</a><br><br><br></p>
  </div>
</div>

{% schema %}
  {
    "name": "Password",
    "class": "store--password",
    "tag": "div",
    "templates": [
      "password"
    ],
    "presets": [{
      "name": "Password"
    }]
  }
{% endschema %}